.App {
  display: flex;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo {
  position: relative;
  width: 400px;
  height: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px #eee;
  box-sizing: border-box;
}

.todo-body {
  height: calc(100% - 109px - 72px);
  padding: 0 10px;
  margin-bottom: 10px;
  overflow: auto;
}
.todo-body::-webkit-scrollbar {
  /* 整个滚动条 */
  width: 10px;
}
.todo-body::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 10px;
}